body {
    background-image: url(./ricardo-gomez-angel-4nT7pOdijSE-unsplash.jpg);
    padding: 20px;
}
h1 {
    font-size: 2em;
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}